<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:wght@300;700&display=swap" rel="stylesheet">
        <title > Niox Header </title>
</head>
<body>
    
  
    <header>
        <section class="upperNav">

            <div style="margin-top: 0.3rem;">
                <a href="#"style="font-family: 'Roboto', sans-serif;"> Contact sales </a>
            </div>

            <div class="right">
                <button class="signin_button"> Log in </button>
                <button class="signup_button"> Sign up </button>
            </div>

        </section>

        <section class="heroSection">

            <div class="lowerNav">

                <div> Niox </div>

                <div> 
                    <ul>
                        <li> 
                            <select id = "products">
                                <option value = "1"> Products </option>
                                <option value = "2">two</option>
                                <option value = "3">three</option>
                                <option value = "4">four</option>
                            </select> 
                        </li>
    
                        <li> Pricing </li>
    
                        <li>
                            <select id = "Partners">
                                <option value = "1"> Partners </option>
                                <option value = "2">two</option>
                                <option value = "3">three</option>
                                <option value = "4">four</option>
                            </select> 
                        </li>
    
                        <li> Blog </li>
    
                        <li>
                            <select id = "Support">
                                <option value = "1"> Support </option>
                                <option value = "2">two</option>
                                <option value = "3">three</option>
                                <option value = "4">four</option>
                            </select> 
                        </li>
    
                    </ul>
                </div>
    
            </div>
            
                    
            <div>

                <h1> Empowering Brick & Mortar businesses with Digital Technology
                </h1>

                <p> Move from paper and spreadsheets to collaborative platform, that is easy to customize </p>

                <button> Request for demo </button>

                <img class="header_image" src="images\image1.jpg"  alt="Niox Service Prewview">

            </div>

        <!-- <div class="index_header_second_part"></div>  -->    

        </section>
        
    </header>


</body>
</html>