<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='./stylesheets/how_our_customers_use_niox.css' />
    <link rel='stylesheet' href='./stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>    
    <title>Powering Catalogue/Product
        Discovery
         </title>
</head>
<body>
  
    <section class="carousole">
        
        <sdiv class="animation">

            <div class="how_our_customers_use_niox">
    
                <h1> Powering Catalogue/Product
                    Discovery
                    </h1>
            
                <div class="how_our_customers_use_niox_image_grid">
            
                    <div>
            
                        <div class="manageing_businesses">
                            <div>
                                <h2> Customers can also interact directly with
                                    your business on WhatsApp and place their order
                                    
                                    </h2>
                                <div class="user">
                                    <img src="/images/user1.jpg" alt="user1">
                                    <p> <strong> Martin Baeluerle, </strong> Office Manager <br/> at Candall SLR </p>
                                </div>
                                <p> 
                                    The catalogue
                                    re-imagined!
                                  
                                </p>
                            </div>
                            <div>
                                <img src="https://www.dotpe.in/assets/images/webp/section_3.webp" alt=" Managing business operations with teams accross geographics ">
                            </div>
                        </div>
            
                        <div class="all_our_clients">
                            <div>
                                <h2> AImprove Your
                                    in-Store Experience </h2>
                                <div class="user">
                                    <img src="/images/user2.jpg" alt="user1">
                                    <p> <strong> Yorik Van Der Walt </strong> HSEQ Manager, <br/> MMB surfacing Ltd. </p>
                                </div>
                                <p> 
                                    Easiest way for customers to discover your catalogue in the store
                                </p>
                            </div>
                            <img src="https://www.dotpe.in/assets/images/webp/section_2.webp" alt=" Managing business operations with teams accross geographics ">
                        </div>
            
                    </div>
            
                    <div class="i_could_easily_learn">
            
                        <h2> Become super discoverable!</h2>
                        
                        <div class="user3">
                            <div>
                                <img src="images/user3.jpg" alt="User3">
                            </div>
                            <div>
                                <p> Customers can discover your business directly on Google by the popularity of individual catalogue items

                                </p>
                                <p> #CRM #Events #Yachts #Luxary </p>
                            </div>
                        </div>
            
                        <figure>
                            <img class="i_could_easily_learn_image" src="https://www.dotpe.in/assets/images/webp/section_1.webp" alt=" I cluld easily realate learn how to realete my data ">
                        </figure>
            
                    </div>
            
                </div>
            
                <div class="all_niox_case_studies">
            
                    <figure>
                        <img src="images/logo1.jpg" alt=" Generali Logo ">
                    </figure>
            
                    <figure>
                        <img src="images/logo2.jpg" alt=" VARMAX Logo ">
                    </figure>
            
                    <figure>
                        <img src="images/logo3.jpg" alt=" NHS Logo ">
                    </figure>
            
                    <figure>
                        <img src="images/logo4.jpg" alt=" The University Logo ">
                    </figure>
            
                    <figure>
                        <img src="images/logo5.jpg" alt=" Tuppperware Logo ">
                    </figure>
            
                </div>
            
                <a style="text-align: right;" class="case_studies_link" href="#"> ALL NIOX CASE STUDIES  <i class="fa fa-long-arrow-right"></i> </a>
            
              </div>
            
              <div class="after_animation2">
            
                <h1> A New Way for Customers to
                    Order </h1>
            
                <div class="managing_businesses2">
                    <div>
                        <h2>Customers can now stand in your store and place their order digitally

                        </h2>
                        <div class="user">
                            <img src="/images/user1.jpg" alt="user1">
                            <p> <strong> Martin Baeluerle, </strong> Office Manager <br/> at Candall SLR </p>
                        </div>
                        <button> Learn More </button>
                    </div>
            
                    <div>
                        <img src="./images/image5.jpg" alt="How our customers use Niox">
                    </div>
                </div>
            
                <div class="niox_services_grid2">
            
                    <div>
            
                        <div>
                            <i class='fas fa-mobile-alt'></i>
                        </div>
            
                        <div>
                            <h1> Build Custom Apps </h1>
                            <p> Customers can also interact directly with your business on WhatsApp and place their order </p>    
                        </div>
                    </div>
            
                    <div>
                        <div>
                            <i class="fa fa-group"></i>
                        </div>
            
                        <div>
                            <h1> Invite Your Team </h1>
                            <p> Customers are engaged on WhatsApp to have continues relationship with your business directly without getting tied to intermediary discovery platforms</p>    
                        </div>
                    </div>
            
                    <div>
                        <div>
                            <i class='fas fa-globe'></i>
                        </div>
                        
                        <div>
                            <h1> Work from anywhere </h1>
                            <p> Customers are encouraged to do more
                                with your business to increase their
                                engagement in multiple ways
                                
                                . </p>    
                        </div>
                    </div>
            
                </div>
            
              </div>
            
        </sdiv>
      
    </section>
    
</body>

</html>