<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='./stylesheets/index_footer.css' />
    <title> Niox Homepage Footer </title>
</head>

<body>

    <section class="carousole">

        <div class="animation">
    
            <footer class="index_footer">
    
        
                <h1>
                    Over 250,000 people use Niox <br/> Join a vibtant community now!
                </h1>
        
                <button> START A FREE TRIAL </button>
    
                <div class="footer_ribbon">
    
                </div>
       
            </footer>
        
            <div class="index_footer_after_animation">
        
                <div>
                    <h1>
                        Over 250,000 people use Niox <br/> Join a vibtant community now!
                    </h1>
            
                    <button> START A FREE TRIAL </button>
                </div>
        
                <div>
                    <img src="images/index_footer_image.jpg" alt="oin a vibtant community now!">
                </div>
                
            </div>
        
    
        </div>
    
    </section>
    
</body>

</html>