<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='./stylesheets/niox_services.css' />
    <title> Niox Services </title>
</head>
<body>
    
    <section class="carousole">
        <div class="animation">
        
            <div class="niox_services">
    
                <div class="niox_services_grid" >
                    <div>
        
                        <h2> Disrupting the Payment
                            Experience </h2>
        
                        <p>
                            Customers can now pay directly with their credit/debit cards through their bank apps without the need of entering CVV and
                            3D Secure Password/OTP.
                            
                            .
                        </p>
        
                    </div>
                    
                    <figure>
                        <img src="https://www.dotpe.in/assets/images/webp/section_8.webp" alt=" Fully Customizable ">
                    </figure>
                </div>
        
                <div class="niox_services_grid">
                    <figure>
                        <img src="https://www.dotpe.in/assets/images/webp/section_9.webp" alt=" Fully Customizable ">
                    </figure>
        
                    <div>
        
                        <h2>Don’t Miss the
                            UPI Trend </h2>
        
                        <p>
                            Paying through UPI is front and
                            center of our experience to provide
                            significant ease of use
                        </p>
        
                    </div>        
                </div>
        
                <div class="niox_services_grid">
                    <div>
        
                        <h2> Create report and Visualize your data </h2>
        
                        <p>
                            Gamification Engine
                            to Boost Customer Engagement
                        </p>
        
                    </div>
                    
                    <figure>
                        <img src="https://www.dotpe.in/assets/images/webp/section_7.webp" alt=" Fully Customizable ">
                    </figure>
                </div>
        
            </div>
        
            <div class="niox_services_after_animation">
        
                <div class="fully_customizible2">
        
                    <div>
                        <img src="images/service1.jpg" alt="#">
                    </div>
        
                    <div>
                        <h2> Fully Customizable </h2>
        
                        <p>
                            With just a few clicks, you an crate forms, views and grpahs without fa-asl-interpreting
                            limitations. Make it perfact fit for your business.
                        </p>
                    </div>
        
                </div>
        
                <div class="niox_services_grid2">
        
                    <div class="niox_services_grid_box">
        
                        <figure>
                            <img src="images/service2.jpg" alt=" Fully Customizable ">
                        </figure>
            
                        <div>
            
                            <h2> Manage your workflow </h2>
            
                            <p>
                                View and organize the way you want. Store, filter, short group and 
                                visualize your data.
                            </p>
            
                        </div>       
                    </div>
        
        
                    <div class="niox_services_grid_box">
        
                        <figure>
                            <img src="images/service3.jpg" alt=" Fully Customizable ">
                        </figure>
        
                        <div>
            
                            <h2> Create report and Visualize your data </h2>
            
                            <p>
                                Niox handles a large amount of data effortlessly, Choose from different views
                                like Kanban, Gantt, Cards, and diagrams to visual your results.
                            </p>
            
                        </div>               
                    </div>
        
                    <div class="niox_services_grid_box">
                        
                        <figure>
                            <img src="images/service4.jpg" alt=" Use templates ">
                        </figure>
        
                        <div>
                            <h2> Get started right away with templetes. </h2>
        
                            <p>
                                No need to start from scratch our community created customixable
                                templates for a huge variety of users.
                            </p>
                        </div>
        
                    </div>
        
        
                </div>
        
            </div>
        
        </div>
    </section>

    
    
</body>
</html>