* {
    margin: 0;
    padding: 0;
}

.upperNav {

    display: grid;
    grid-template-columns: 80% 20%;
    background-color: #2e2e1f;
    color: #fff;
    padding: 1rem 7rem;

    .right {
        text-align: right;
    }

    div {

        a {
            text-decoration: none;
            color: #fff;
        }

        button {
            border: none;
            padding: 0.5rem;
            margin-left: 1rem;
        }

        .signin_button {
            border: 1px solid #fff;
            background-color: #2e2e1f;
            color: #fff;
        }

        .signup_button {
            background-color: #fff;
            color: #2e2e1f;
        }

    }    

}

.heroSection {
    
    padding: 1.5rem 7rem;
    color: #fff;
    background-color:  #4da6ff;
    position: relative;
    height: 25rem;

    .lowerNav {
        display: grid;
        grid-template-columns: 50% 50%;
       
        li {
            display: inline;
            float: right;
            padding-left: 1rem;
            select {
                border: none;
                background-color: #4da6ff;
                color: #fff;
            }
        }

    }
    
    h1 {
        font-size: 1.7rem;
        text-align: center;
        padding: 3rem 0rem 1rem 0rem;
    }

    p {
        text-align: center;
    }

    button {
        display: block;
        margin: auto;
        border: none;
        background-color: coral;
        padding: 1rem;
        color: #fff;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .header_image {
        height: 20rem;
        width: auto;
        border-radius: 0.5rem;
        z-index: 100;
        position: absolute;
        display: block;
        left: 50%;
        right: 50%;
        transform: translate(-50%);
    }

}

.index_header_second_part {
    background-color: #eeeedd;
    height: 10rem ;
}

.niox_herosection_after_animation {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}


